.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.3vw; 
  background-color: var(--header-top-color, #001533);
  flex-wrap: nowrap;
  padding: 0 1vw;
  box-sizing: border-box;
  padding-left: 6vw;
}

.top-header p {
  color: white;
  display: flex;
  align-items: center;
  font-size: 0.9vw; 
  white-space: nowrap;
  margin-left: 0.39vw;
}

.tph-location-icon,
.tph-clock-icon {
  width: 1.8vw;
  padding:0 0.4vw;
  margin-left: .8vw;

}
.tph-2 {margin-left: 0.8vw;}
.tph-1 { font-size: 1.1vw; font-weight: 600; padding-right: 0.39vw;}
.tph-2, .tph-4 { font-size: 1.1vw; font-weight: 600; color: rgb(226, 121, 21); }
.tph-3 { font-size: 1.1vw; font-weight: 600; padding:0 0.4vw; }

/*  Bottom header start   */
.bottom-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9vh;
}
.bth-left {
  display: flex;
  align-items: center;
}
.logo img{
    height: 12.5vh;
    margin-right: -0.6vw;
}
.logo-caption h6{
  font-family: "Pirata One", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(8, 26, 56);
  font-size: 2.1vw;
  font-weight: 100;
}
.logo-caption p {
  font-family: "Graduate", serif;
  font-size: 0.6vw;
  color: #e27915;
}
.bth-right {
  display: flex;
  align-items: center;
  padding-left: 3vw;
}

.bth-right ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.bth-right ul li {
  padding: 0 0.5vw;
  color: rgb(8, 26, 56);
  font-size: .75vw;
  font-weight: 600;
}
.bth-right .btn {
  padding: .7vw 1.5vw;
  background-color: #cf640c;
  border-radius: 9vw;
  font-size: 0.9vw;
  color: #fff;
  margin-left: 1vw;
}