.hero-section {
  background-color: #f14805;
  height: 40vw;
}
.repair-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw 5vw;
  gap: 5vw;
  background: #fff;
  flex-wrap: nowrap; 
  width: 100%;
  height: 30vw;
}

.image-box {
  width: 30vw;
  background: #f0f0f0;

}

.text-box {
  width: 38vw;
}

.text-box h2 {
  font-size: 2.5vw;
  color: #0f1338;
  line-height: 1.2;
  margin-bottom: 1vw;
  font-weight: 700;
}

.text-box p {
  font-size: .8vw;
  color: #444;
  margin-bottom: 1.2vw;
  line-height: 1.3;
}

.orange-btn {
   background: linear-gradient(to right, #f14805, #ff933b);
  color: white;
  padding: .8vw 1.8vw;
  font-size: .9vw;
  border: none;
  border-radius: 5vw;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.8vw;
}
/*  Repair Section End */



.problems-section {
    padding: 5vw 0 10vw 0;
    text-align: center;
    background-color: #f4f7f9;
    width: 100vw;
}

.main-title {
    font-size: 2.6vw; /* ফন্ট এখন স্ক্রিনের সাথে তাল মেলাবে */
    color: #0d1b3e;
    font-weight: 700;
    margin-bottom: 2vw;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 1vw; /* কার্ডের মাঝের গ্যাপও রেসপন্সিভ */
    width: 95vw;
    margin: 0 auto;
}

.info-card {
    /* এখানে কার্ডের উইডথ ফিক্সড vw তে দেওয়া হয়েছে */
    width: 15vw; 
    background: white;
    padding: 2vw 1vw 4vw 1vw;
    border-radius: 0.5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.5vw 2vw rgba(0,0,0,0.05);
}

.icon-placeholder {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #fdf2e9;
    border-radius: 50%;
    margin-bottom: 1.5vw;
}
.icon-placeholder img {
  width: 3.5vw;
}
.info-card h3 {
    font-size: 1.1vw; /* ফন্ট সাইজ একদম নিখুঁত ছোট হবে */
    color: #0d1b3e;
    line-height: 1.2;
    margin-bottom: 1vw;
    font-weight: 800;
    height: 3vw;
}

.info-card p {
    font-size: 0.85vw;
    color: #252525;
    line-height: 1.5;
    margin-bottom: 2vw;
    text-align: center;
}

/* বাটন যা কার্ডের নিচে অর্ধেক ঝুলে থাকবে */
.card-btn {
    position: absolute;
    bottom: -1.3vw; /* একদম মাঝ বরাবর বাইরে ঝুলে থাকবে */
    width: 12vw;
    height: 2.8vw;
    border-radius: 5vw;
    border: none;
    font-size: 0.9vw;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to right, #e65100, #ff9800);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


